<div class="container">
    <div class="row">
        <h3 class="text-uppercase">Listado de articles</h3>
    </div>
    <div class="row">
        <div *ngIf="this.service.productList.length <= 0" class="col-12">
            <h2 class=" text-uppercase text-center">
                No hay productos, para el filtro seleccionado.
            </h2> 
        </div>
        <div class="col-4" *ngFor="let product of this.service.productList">
            <app-product-card [product]="product" routerLink='/detail-product/{{product.id}}' ></app-product-card>
        </div>
    </div>
</div>
