<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-12">
                <input type="text" [(ngModel)]="title">
                <input type="number" [(ngModel)]="price">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <input type="number" [(ngModel)]="priceMin" placeholder="Min">
            </div>
            <div class="col-6">
                <input type="number" [(ngModel)]="priceMax" placeholder="Max">
            </div>
        </div>        
        <button class="btn btn-primary " (click)="verifFilter()" >Filtrar</button>
    </div>
</div>