<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <button class="btn btn-primary " (click)="filterByTitle()" >Título</button>
        <button class="btn btn-primary " (click)="filterByPrice()" >Algo 2</button>
        <button class="btn btn-primary " (click)="filterByPriceRange()" >Algo 3</button>
        <input type="text" [(ngModel)]="title">
        <input type="text" [(ngModel)]="price">
        <input type="text" [(ngModel)]="priceMin" placeholder="Min">
        <input type="text" [(ngModel)]="priceMax" placeholder="Max">
    </div>
</div>